

﻿absl-py==1.4.0
aniso8601==9.0.1
astunparse==1.6.3
attrs==23.1.0
beautifulsoup4==4.12.2
blinker==1.6.2
blis==0.7.9
cachetools==5.3.1
catalogue==2.0.8
certifi==2023.5.7
charset-normalizer==3.2.0
nltk
click==8.1.5
colorama==0.4.6
confection==0.1.0
contourpy==1.1.0
cycler==0.11.0
cymem==2.0.7
decorator==5.1.1
deep-translator==1.11.4
definitions==0.2.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
flasgger==0.9.7.1
Flask==2.3.2
Flask-RESTful==0.3.10
flatbuffers==23.5.26
fonttools==4.41.0
gast==0.4.0
google-auth==2.22.0
